.radio-wrapper {
    @apply relative inline-flex items-center pl-8 py-1;
  
    .thumb {
      @apply absolute top-1/2 left-0 rounded-full border-2 bg-green-100 bg-opacity-0 border-green-100 transform -translate-y-1/2 transition-all;
  
      width: 24px;
      height: 24px;

      &::before {
        @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-green-100 bg-opacity-0 rounded-full transition-all;

        content: "";
        width: 12px;
        height: 12px;
      }
    }
  
    input[type="radio"] {
      @apply hidden;
  
      &:checked + .thumb::before {
        @apply bg-opacity-100;
      }
    }
    
    span:not(.pro-pill) {
      @apply text-black-100;
    }
  }
  
  .radio-wrapper.disabled {
    @apply cursor-default;

    & > *:not(.pro-pill) {
        @apply pointer-events-none opacity-60;
    }
  }

  .radio-wrapper:hover {
    .thumb {
        @apply bg-opacity-20;
    }
  }