// Smooth rendering for all browsers
* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

// Fix for dashicon
.dashicons-before {
  @apply flex justify-center items-center;

  &::before {
    padding: 0 !important;
  }

  img {
    @apply border-none w-auto mx-auto my-0;

    padding: 0 !important;
  }
}

##{$plugin_slug}-admin {
  @apply text-sm;

  .box-container {
    @apply bg-white-100 px-6 py-4;
  }
}